# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
# End of https://www.toptal.com/developers/gitignore/api/go

.env.example
*.txt
